<!-- CHECK AVAILABILITY FORM -->
<div class="grid-container">
  <app-hk-check
    (formSubmit)="onFormSubmit($event)"
  ></app-hk-check>
  
  <!-- DATE AVAILABILITY LIST -->
  <!-- {{ (availabilityList) | async | json }} -->
  <p>Week Commencing {{ weekCommencing }}</p>

  <div class="grid-x grid-padding-x">

    <div class="medium-6 cell">
      <div *ngFor="let day of availabilityList | async">
    
        <app-hk-day class="medium-12 cell"
          [date]="day.day"
          [times]="day.startTimes"
        ></app-hk-day>
        
      </div> <!-- / *ngFor availabilityList -->
    </div>
    
    <div class="medium-6 cell">
      <app-hk-success 
        *ngIf="bookingSuccess"
        [cleaner]="bookingSuccess?.cleaner.name"
        [day]="bookingSuccess?.day"
        [end]="bookingSuccess?.end"
        [start]="bookingSuccess?.start"
        [success]="bookingSuccess?.success"
        [visitDuration]="bookingSuccess?.visitDuration"
      ></app-hk-success>
    </div>  
    
    
  </div> <!-- / grid-x grid-padding-x" -->
  

</div><!-- / grid-container -->



